a.btn-beautify.button--animated.pink.larger(href="https://aifadian.net/@GamerNoTitle" target="_blank" rel="noopener" title="用❤发电")
    i.far.fa-hand-point-right.fa-fw
    span &#x7528;&#x2764;&#x53D1;&#x7535;&#x652F;&#x6301;&#x6211;~
